[Unit]
Description=Hermes device reader

[Service]
ExecStart=/usr/share/hermes/hermes-daemon
Type=simple
User=root

[Install]
WantedBy=multi-user.target
